{% extends "portfolios/base.html" %}
{% block content %}
	<!-- Making a search bar -->
	<div class = "container">
		<form method = "GET" action = "{% url 'search' %}">
			<input type="text" placeholder="Enter company" size = "50" name="query" value="{{ request.GET.query }}">
			<button type="submit"><i class="fas fa-search"></i></button>
		</form>
	</div>
	<br></br>
	<!-- Making a filter -->
	<form action="#" method="post">
		{% csrf_token %}
		<label for="Industry">Choose your industry</label>
		<select name="industrties" id="industrties" size="4">
		  <option value="Technology">Technology</option>
		  <option value="Consumer">Consumer</option>
		  <option value="HealthTech">HealthTech</option>
		  <option value="FinTech">FinTech</option>
		  <option value="Consumer">Consumer</option>
		</select>
		<input type="submit" name = 'industry' value="Submit" />
  </form>
	<!-- Displaying every startup -->
	{% for startup in filtered_startups%}
		<article class="media content-section">
			<img class = "rounded-circle article-img" src = "{{ startup.logo.url }}" >
			<div class="media-body">
				<div class="article-metadata">
                  <h1>{{ startup.startup_name }}</h1>
			    </div>
			<h5>Industry: {{startup.industry}}</h5>
		    <p><a class="article-title" href="#">{{ startup.description }}</a></p>
			{% if startup.website%}
				<form action = "{% url 'external-redirect'  %}" method = "post">
					{% csrf_token %}
					<button type = "submit" name = 'mybtn' value = {{startup.website}}>Visit site</button>
				</form>
			{% endif %}
		  </div>	
		</article> 
	{% empty %}
	<div class = "container">
		<h3>No posts yet! Be the first to post</h3></div>
	{% endfor %}

{% endblock content %}
