{% extends "portfolios/base.html" %}
{% block content %}
	<!-- Making a search bar -->
	<div class = "container" >
		<form method = "GET" action = "{% url 'search' %}">
			<input class = "form-control form-control-inline" type="text" style = " background-color: white;"  placeholder="Enter company" size = "80" name="query" value="{{ request.GET.query }}">
			<button type="submit"><i class="fas fa-search"></i></button>
		</form>
	</div>
	<br></br>
	<div class="header-zoom">
	<!-- Making a filter -->
	<form action="{% url 'startup-filter' %}" method="post">
		{% csrf_token %}
		<label for="Industry">Choose your industry: &emsp;</label>
		<select name="industries" id="industries">
		  <option value="Technology">Technology</option>
		  <option value="Consumer">Consumer</option>
		  <option value="HealthTech">HealthTech</option>
		  <option value="FinTech">FinTech</option>
		</select>
		&ensp;
		<input type="submit" name="industry" value="Search" />
		<br></br>
  	</form>
	<!-- Displaying every startup -->
	<div  class = "container">
	<div class = "row " >
	{% for startup in startups%}
	<div class="row row-cols-1 row-cols-md-2 g-5">
	<!-- <div class="card-columns d-flex justify-content-center"> -->
		<div class = "col-sm-4 mb-3">
		  <div class="card border-dark mt-3 mb-3 mr-3 h-100" style="width: 18rem;">
			<img src="{{ startup.logo.url }}" class="card-img-top" width= "100" height="200" alt="Image not found">
			<div class="card-body">
			  <h5 class="card-title">{{ startup.startup_name }}</h5>
			  <p class="card-text">Industry: {{startup.industry}}</p>
			  <p class="card-text">{{startup.description }}</p>
			{% if startup.website %}
				<form action = "{% url 'external-redirect'  %}" method = "post">
					{% csrf_token %}
					<button type = "submit" name = 'mybtn' value = {{startup.website}}>Visit site</button>
				</form>
			{% endif %}
			</div>
		  </div>
		</div>
	</div>
	{% empty %}
	<div class = "container">
		<h3>No posts yet! Be the first to post</h3></div>
	{% endfor %}
{% endblock content %}