{% extends 'portfolios/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for startup in startup_list %}
<article classs= "media content-section">
    <div class="container text-center" >
        <div class="border">
            <img class = "rounded-circle article-img" src = "{{ startup.logo.url }}" >
            <div>
                <h3>{{ startup.startup_name }}</h3>
                <p>Industry: {{ startup.industry }}</p>
                <p>Description: {{ startup.description }}</p>
            </div>
        </div>
    </div>
</article>
{% empty %}
    <p>Your search did not provide any results</p>
{% endfor %}
{% endblock content %}